<template>
  <a-layout id="components-layout-demo-custom-trigger">
    <a-layout-sider :trigger="null" collapsible v-model="collapsed" theme="light">
      <div class="logo" />
      <a-menu
        theme="light"
        mode="inline"
        :defaultOpenKeys="['sub1']"
        :defaultSelectedKeys="['0']"
        style="padding: 16px 0px;"
      >
        <a-menu-item key="0">
          <router-link to="/">
            <a-icon type="home" />
            <span>home</span>
          </router-link>
        </a-menu-item>
      
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff; padding: 0">
        <a-icon
          class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="()=> collapsed = !collapsed"
        />
      </a-layout-header>
      <a-layout-content :style="{ margin: '18px 16px', padding: '10px', minHeight: '100vh'}">
        <router-view ref="content" />
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script>
export default {
  name: "LayoutMain",
  data() {
    return {
      collapsed: false,
      menus: []
    };
  },
  computed: {
    contentPaddingLeft() {
      if (!this.fixSidebar || this.isMobile()) {
        return "0";
      }
      if (this.sidebarOpened) {
        return "256px";
      }
      return "80px";
    }
  }
};
</script>

<style scoped>
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
</style>


